@import url(http://fonts.googleapis.com/css?family=Merriweather+Sans:800);

.social_block {
  padding: 10px 10px 10px 10px;
}

.group_title {
  font-weight: 600;
  color: #F66733;
  font-size: 3.6rem; 
  line-height: 1.25; 
  letter-spacing: -.1rem;
  margin-bottom: 2rem;
  display: inline-block;
}

.avatar {      
  background-color: #F5F5F5;      
  border: 1px solid #DDDDDD;      
  border-radius: 50% 50% 50% 50%;      
  padding: 4px; 
} 

.image {
  background-color: #F5F5F5;
  border: 1px solid #DDDDDD;
  border-radius: 3% 3% 3% 3%;
  padding: 4px; 
}

.full {
  background-color: #522D80; 
  background-size: cover;
  padding: 20px 20px 20px 20px;
  color: white;
}

.page_title {
  background-color: #61686C;
  background-size: cover;
  color: #ffffff;
  padding: 5px 5px 5px 5px;
  text-align: center;
  margin-bottom: 0px;
}

.followMeBar {
  background: #4D4F50;
  padding: 10px 20px;
  position: relative;
  z-index: 1;
  color: #fff;
}

.followMeBar.fixed {
  position: fixed;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  z-index: 1;
}

.followMeBar.fixed.absolute {
  position: absolute;
}



.hide {
  display: none;
}

.well {
  border-radius: 10px;
  background: #F8F8F8;
  padding: 20px 20px 20px 20px;
}

html, body {height: 100%;}

body {
  display: flex;
  flex-direction: column;
}

#footer {
   position: relative;
   left: 0px;
   bottom: 0px;
   padding: 10px 10px 10px 10px;
   border-top: 1px solid #e5e5e5;
   background: #F8F8F8;
   /*background: #4D4F50;*/
   text-align: left;
   clear: both;
   color: #000000;
   margin-top: 50px;
}

/*#wrap {min-height: 100%;}*/
#wrap {flex: 1;}

#main {overflow:auto;}

time {
  font-weight: bold;
}

#post_data {
  font-weight: bold;
}

#post_title {
  font-weight: bold;
}

#post_absract {

}

.upcoming {
  color: #F66733; 
}



.event-page-top {
  background: #ea6a20;
  padding: 10px 0px;
  color: #fff;
  width: 100%;
}

.event-page-title {
  background: #3A4958;
  padding: 10px 20px;
  color: #fff;
  width: 100%;
}


.date {
  color: #522D80; 
  font-family: 'Merriweather Sans', sans-serif;
  text-align: right; 
}

.date-day-num {
  color: #f19966;
  font-family: 'Merriweather Sans', sans-serif;
  text-align: right;
  font-size: 38pt;
  margin-bottom: -10px;
}

.day-info {
  margin: 10px 15px 10px 15px;
  font-size: 12pt;
  padding: 5px 5px 5px 5px;

  border: 1px solid #e5e5e5;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

.day-title {
  color: #F66733;
  font-family: 'Merriweather Sans', sans-serif;
  margin-left: 20px;
}

#loader {
  position: relative;
  left: 50%;
  z-index: 1;
  margin-top: 50px;
  margin-bottom: 50px;
  border: 16px solid #F66733;
  border-radius: 50%;
  border-top: 16px solid #522D80;
  border-bottom: 16px solid #522D80;
  width: 60px;
  height: 60px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

