.social_block {
  padding: 10px 10px 10px 10px;
}

.group_title {
  font-weight: 600;
  color: #F66733;
  font-size: 3.6rem; 
  line-height: 1.25; 
  letter-spacing: -.1rem;
  margin-bottom: 2rem;
  display: inline-block;
}

.avatar {      
  background-color: #F5F5F5;      
  border: 1px solid #DDDDDD;      
  border-radius: 50% 50% 50% 50%;      
  padding: 4px; 
} 

.image {
  background-color: #F5F5F5;
  border: 1px solid #DDDDDD;
  border-radius: 3% 3% 3% 3%;
  padding: 4px; 
}

.full {
  background-color: #522D80; 
  background-size: cover;
  padding: 20px 20px 20px 20px;
  color: white;
}

.page_title {
  background-color: #61686C;
  background-size: cover;
  color: #ffffff;
  padding: 5px 5px 5px 5px;
  text-align: center;
  margin-bottom: 0px;
}

.followMeBar {
  background: #4D4F50;
  padding: 10px 20px;
  position: relative;
  z-index: 1;
  color: #fff;
}

.followMeBar.fixed {
  position: fixed;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  z-index: 1;
}

.followMeBar.fixed.absolute {
  position: absolute;
}

.hide {
  display: none;
}

.well {
  border-radius: 10px;
  background: #F8F8F8;
  padding: 20px 20px 20px 20px;
}

html, body {height: 100%;}

body {
  display: flex;
  flex-direction: column;
}

#footer {
   position: relative;
   left: 0px;
   bottom: 0px;
   padding: 10px 10px 10px 10px;
   border-top: 1px solid #e5e5e5;
   background: #4D4F50;
   text-align: left;
   clear: both;
   color: #ffffff;
   margin-top: 50px;
}

/*#wrap {min-height: 100%;}*/
#wrap {flex: 1;}

#main {overflow:auto;}


