  <div id="footer">

      <div class="container" >

      <div class="row">

        <div class="four columns" >
          <a href="https://www.youtube.com/channel/UCVJUqkuJmNKbO58wwsvdLiw"><img src="/images/youtube-icon.png"></a>
          <a href="https://github.com/clemsonciti"><img src="/images/github-icon.png"></a>
        </div>
        
        <div class="eight columns" >
           <p>Cyberinfrastructure Technology Integration (CITI) Group<br>
           120 McGinty Court<br>
           2092 Barre Hall<br>
           Clemson, SC 29634</p>
        </div>

      </div>
  
      </div>

  </div>
