  <div id="footer">

      <div class="container" >

      <div class="row">

        <div class="four columns" >
           <p>Cyberinfrastructure Technology Integration (CITI) Group<br>
           120 McGinty Court<br>
           2092 Barre Hall<br>
           Clemson, SC 29634</p>
        </div>

        <div class="four columns" >
           <b>OTHER LINKS</b><br>
           <a href="/credits.html"><span style="color: white; text-decoration: underline;">Credits</span></a>
        </div>

        <div class="four columns" >

        <a href="https://www.youtube.com/channel/UCVJUqkuJmNKbO58wwsvdLiw">
          <span style="color: white;">
          <i class="fa fa-youtube-square fa-4x" aria-hidden="true"></i>
          </span>
        </a>

        <a href="https://github.com/clemsonciti">
          <span style="color: white;">
          <i class="fa fa-github-square fa-4x" aria-hidden="true"></i>
          </span>
        </a>

        <a href="/feed.xml">
          <span style="color: white;">
          <i class="fa fa-rss-square fa-4x" aria-hidden="true"></i>
          </span>
        </a>                                                                          

        </div>
        
      </div>
  
      </div>

  </div>
