<section class="full">
  <div class="container">

        <img src="/images/paw.gif" style="width: 50px; float: left; margin-right: 10px;">
        <h2 class="title" style="font-weight: 600;">
            Cyberinfrastructure Technology Integration</h2>

    <p>Clemson Computing and Information Technology (CCIT) provides research 
    cyberinfrastructure resources and advanced research computing capabilities
    through its Cyberinfrastructure Technology Integration (CITI) group.</p>

    <div class="row" style="margin-top: 10pt;">
      <a class="button button-primary" href="/index.html">Home</a>
      <a class="button button-primary" href="/infrastructure">Research Cyberinfrastructure</a>
      <a class="button button-primary" href="/training">Training</a>
      <a class="button button-primary" href="/resources">Resources</a>
      <a class="button button-primary" href="/news">News</a>
      <a class="button button-primary" href="/feedback">Feedback</a>
    </div>

  </div>
</section>

