---
layout: page
---

    <div class="row" id="people" style="margin-top: 10px;">

            <div class="four columns" style="text-align: center;" id="name">
                <img src="images/patricia-carbajales-dale-photo.jpg" class="avatar u-max-full-width">
                <b>Patricia Carbajales-Dale</b><br>
                <a href="mailto:pcarbaj@clemson.edu">pcarbaj@clemson.edu</a>
            </div>

            <div class="four columns" style="text-align: center;" id="name">
               <img src="images/paw.png" class="avatar u-max-full-width"> 
               <b>Patrick Claflin</b><br>
               <a href="mailto:pat@clemson.edu">pat@clemson.edu</a>                
            </div>

            <div class="four columns" style="text-align: center;" id="name">
               <img src="images/paw.png" class="avatar u-max-full-width"> 
               <b>Jonathan Clayton</b><br>
               <a href="mailto:jclayto@clemson.edu">jclayto@clemson.edu</a>
            </div>


    </div>

    <div class="row" style="margin-top: 10px;">

            <div class="four columns" style="text-align: center;" id="name">
               <img src="images/jeff-denton-photo.jpg" class="avatar u-max-full-width"> 
               <b>Jeff Denton</b><br>
               <a href="mailto:denton@clemson.edu">denton@clemson.edu</a>
            </div>

            <div class="four columns" style="text-align: center;" id="name">
               <img src="images/paw.png" class="avatar u-max-full-width">                     
               <b>Blake Lytle</b><br>
               <a href="mailto:balytle@clemson.edu">balytle@clemson.edu</a>
            </div>

            <div class="four columns" style="text-align: center;" id="name">
               <img src="images/paw.png" class="avatar u-max-full-width">                     
               <b>Palak Matta</b><br>
               <a href="mailto:pmatta@clemson.edu">pmatta@clemson.edu</a>
            </div>


    </div>

    <div class="row" style="margin-top: 10px;">

            <div class="four columns" style="text-align: center;" id="name">
               <img src="images/linh-ngo-photo.jpg" class="avatar u-max-full-width">
               <b>Dr. Linh Ngo</b><br>
               <a href="mailto:lngo@clemson.edu">lngo@clemson.edu</a>
            </div>

            <div class="four columns" style="text-align: center;" id="name">
               <img src="images/paw.png" class="avatar u-max-full-width">                     
               <b>Dr. Wole Oyekoya</b><br>
               <a href="mailto:ooyekoy@clemson.edu">ooyekoy@clemson.edu</a>
            </div>

            <div class="four columns" style="text-align: center;" id="name">
               <img src="images/ashwin-srinath-photo.jpg" class="avatar u-max-full-width">
               <b>Ashwin Srinath</b><br>
               <a href="mailto:atrikut@clemson.edu">atrikut@clemson.edu</a>
            </div>


    </div>

    <div class="row" style="margin-top: 10px;">

            <div class="four columns" style="text-align: center;" id="name">
               <img src="images/jeronica-williams-photo.jpg" class="avatar u-max-full-width">
               <b>Jeronica Williams</b><br>
               <a href="mailto:jeronic@clemson.edu">jeronic@clemson.edu</a>
            </div>

            <div class="four columns" style="text-align: center;" id="name">
               <img src="images/nuyun-zhang-photo.jpg" class="avatar u-max-full-width">
               <b>Dr. Nuyun (Nellie) Zhang</b><br>
               <a href="mailto:nuyun@clemson.edu">nuyun@clemson.edu</a>
            </div>

            <div class="four columns" style="text-align: center;" id="name">
              <img src="images/marcin-ziolkowski-photo.jpg" class="avatar u-max-full-width">
              <b>Dr. Marcin Ziolkowski</b><br>
              <a href="mailto:zziolko@clemson.edu">zziolko@clemson.edu</a>
            </div>
    </div>

